<%######### Usage #########%>
<%#= render partial:"shared/photo.data",locals:{data:data, columns:columns,bottom_string:bottom_string} %>
<%######### Define your variables #########%>
<%######### data=@objs    #########%>
<%######### bottom_string="" #########%>
<%######### column='col1' #########%>
<%######### Do Calculation#########%>
<%######### Display slide show #########%>
<% sid=data.name %>
<% columns=[columns] unless columns.is_a?(Array) %>
<div id="<%=sid%>" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% unless data.blank? %>
    <% data.each_with_index do |ele,index| %> 
      <div class="item     
      <%if 0 == index %>
        active
      <%end %>   
        ">   
      <% columns.each_with_index do |column,index| %>    
        <%if 0 == index %>
          <%= display(ele.send(column),2) %> 
        <% else %>
          <%= display(ele.send(column),2) %>        
        <% end %> 
      <% end %>
      </div>
    <% end %>
    <% end %>
  </div>
  <div class="restrict"><%= bottom_string %></div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#<%=sid%>" data-slide="prev"><</a>
  <a class="carousel-control right" href="#<%=sid%>" data-slide="next">></a>
</div>
<script type="text/javascript">
  $(function(){ 
     $("#<%=sid%>").carousel({interval: 2000})
  });
</script> 